html,body{ height:100%; }

.container, .row {
    height:100%;
}

#sidebar {
	height: 100%;
}

#sidebar .panel {
	height: 85%;
	overflow: scroll;
}

.navbar-btn .btn {
	margin: 0 5px;
}

.navbar-right {
	margin: 0;
}